In [7]:
# https://www.dataquest.io/blog/jupyter-notebook-tips-tricks-shortcuts/
# hotkeys and shortcuts for jupyter

In [13]:
import pandas as pd
import numpy as np
import csv

In [7]:
%ls

 Volume in drive C is Local Disk
 Volume Serial Number is 3422-B048

 Directory of C:\Users\evang

09/18/2019  10:58 AM    <DIR>          .
09/18/2019  10:58 AM    <DIR>          ..
09/11/2019  11:33 AM    <DIR>          .anaconda
09/18/2019  11:32 AM    <DIR>          .atom
09/17/2019  11:56 AM               142 .bash_history
09/18/2019  02:54 PM    <DIR>          .conda
09/17/2019  10:47 PM                43 .condarc
09/17/2019  09:52 PM    <DIR>          .continuum
09/17/2019  08:46 PM                89 .gitconfig
09/17/2019  10:48 PM    <DIR>          .ipynb_checkpoints
09/17/2019  05:18 PM    <DIR>          .ipython
09/17/2019  10:47 PM    <DIR>          .jupyter
09/17/2019  09:56 PM    <DIR>          .matplotlib
09/17/2019  11:30 AM    <DIR>          .vscode
09/17/2019  08:33 PM    <DIR>          3D Objects
09/17/2019  09:00 PM    <DIR>          Anaconda3
09/17/2019  08:33 PM    <DIR>          Contacts
09/18/2019  02:54 PM    <DIR>          Desktop
09/17/2019  09:37 PM    <DIR>          Documents
09/18/2019  11:19 AM    <DIR>          Downloads
09/17/2019  08:33 PM    <DIR>          Favorites
09/17/2019  11:55 AM    <DIR>          github
09/17/2019  08:33 PM    <DIR>          Links
09/17/2019  08:33 PM    <DIR>          Music
09/10/2019  07:25 PM    <DIR>          OneDrive
09/17/2019  08:33 PM    <DIR>          Pictures
09/17/2019  08:33 PM    <DIR>          Saved Games
09/17/2019  08:33 PM    <DIR>          Searches
09/18/2019  10:58 AM             5,647 Unit_2_Project.ipynb
09/17/2019  08:33 PM    <DIR>          Videos
               4 File(s)          5,921 bytes
              26 Dir(s)  34,843,230,208 bytes free

In [4]:
import pandas as pd
import numpy as np

df = pd.read_csv('TrackingtheSun2018_Data_Public_4-Oct-2018_p1.csv')

In [6]:
print(df.shape)
df.head()

(700000, 63)

,Data Provider,System ID (from Data Provider),System ID (Tracking the Sun),Installation Date,System Size,Total Installed Price,Appraised Value Flag,Sales Tax Cost,Rebate or Grant,Performance-Based Incentive (Annual Payment),...,Inverter Model #2,Inverter Quantity #2,Inverter Manufacturer #3,Inverter Model #3,Inverter Quantity #3,Additional inverter model,Microinverter #1,Microinverter #2,Microinverter #3,DC Optimizer
0,State Energy Office,-9999,AR_EDC_1,4/29/2010,2.016,14558.0,False,510.762764,0.0,3644.64,...,-9999,-9999,-9999,-9999,-9999,-9999,1,-9999,-9999,0
1,State Energy Office,-9999,AR_EDC_2,4/26/2010,3.360,26096.0,False,851.271273,0.0,7210.50,...,-9999,-9999,-9999,-9999,-9999,-9999,1,-9999,-9999,0
2,State Energy Office,-9999,AR_EDC_3,4/20/2010,13.440,91139.0,False,3405.085091,0.0,25178.97,...,-9999,-9999,-9999,-9999,-9999,-9999,1,-9999,-9999,0
3,State Energy Office,-9999,AR_EDC_4,4/21/2010,5.520,40043.0,False,1398.517091,0.0,10724.34,...,-9999,-9999,-9999,-9999,-9999,-9999,1,-9999,-9999,0
4,State Energy Office,-9999,AR_EDC_5,4/22/2010,2.530,21497.0,False,640.987000,0.0,3736.17,...,-9999,-9999,-9999,-9999,-9999,-9999,1,-9999,-9999,0

In [7]:
df.describe()

,System Size,Total Installed Price,Sales Tax Cost,Rebate or Grant,Performance-Based Incentive (Annual Payment),Performance-Based Incentives (Duration),Feed-in Tariff (Annual Payment),Feed-in Tariff (Duration),New Construction,Tracking,...,Module Efficiency #2,Module Efficiency #3,Inverter Quantity #1,Inverter Quantity #2,Inverter Quantity #3,Additional inverter model,Microinverter #1,Microinverter #2,Microinverter #3,DC Optimizer
count,7.000000e+05,7.000000e+05,700000.000000,7.000000e+05,7.000000e+05,700000.000000,700000.0,700000.0,700000.000000,700000.000000,...,700000.000000,700000.000000,700000.0,700000.0,700000.0,700000.000000,700000.000000,700000.000000,700000.000000,700000.000000
mean,2.781393e+01,3.848947e+04,-1463.133529,1.088230e+03,3.075919e+02,0.044653,0.0,0.0,-7598.301297,-2778.062960,...,-9868.696663,-9993.971856,-9999.0,-9999.0,-9999.0,-1910.722954,-1673.156151,-9621.234640,-9980.401789,-1539.632223
std,5.400954e+03,5.765185e+06,8854.347705,8.335562e+04,8.374055e+03,0.731614,0.0,0.0,4271.024006,4478.868944,...,1133.995927,224.169479,0.0,0.0,0.0,3931.218779,3732.684819,1906.464204,430.834774,3609.121414
min,6.800000e-02,-9.999000e+03,-9999.000000,-9.999000e+03,0.000000e+00,0.000000,0.0,0.0,-9999.000000,-9999.000000,...,-9999.000000,-9999.000000,-9999.0,-9999.0,-9999.0,-9999.000000,-9999.000000,-9999.000000,-9999.000000,-9999.000000
25%,4.000000e+00,3.000000e+03,0.000000,0.000000e+00,0.000000e+00,0.000000,0.0,0.0,-9999.000000,-9999.000000,...,-9999.000000,-9999.000000,-9999.0,-9999.0,-9999.0,0.000000,0.000000,-9999.000000,-9999.000000,0.000000
50%,5.720000e+00,2.090000e+04,388.757900,0.000000e+00,0.000000e+00,0.000000,0.0,0.0,-9999.000000,0.000000,...,-9999.000000,-9999.000000,-9999.0,-9999.0,-9999.0,0.000000,0.000000,-9999.000000,-9999.000000,0.000000
75%,8.000000e+00,3.283500e+04,728.818612,7.755000e+02,0.000000e+00,0.000000,0.0,0.0,-9999.000000,0.000000,...,-9999.000000,-9999.000000,-9999.0,-9999.0,-9999.0,0.000000,0.000000,-9999.000000,-9999.000000,0.000000
max,4.001172e+06,4.806585e+09,655574.388500,6.700000e+07,1.742083e+06,20.000000,0.0,0.0,1.000000,1.000000,...,0.220859,0.220762,-9999.0,-9999.0,-9999.0,1.000000,1.000000,1.000000,1.000000,1.000000

In [8]:
df.describe(exclude='number')

,Data Provider,System ID (from Data Provider),System ID (Tracking the Sun),Installation Date,Appraised Value Flag,Customer Segment,Tracking Type,City,County,State,...,Module Model #3,Module Technology #1,Module Technology #2,Module Technology #3,Inverter Manufacturer #1,Inverter Model #1,Inverter Manufacturer #2,Inverter Model #2,Inverter Manufacturer #3,Inverter Model #3
count,700000,700000,700000,700000,700000,700000,700000,700000,700000,700000,...,700000,700000,700000,700000,700000,700000,700000,700000,700000,700000
unique,11,696871,700000,5154,2,7,6,2695,89,3,...,241,12,13,10,127,1061,72,561,39,223
top,Public Utilities Commission & California Energ...,-9999,CA-NEM-288402,12/4/2015,False,RES,Fixed,BAKERSFIELD,-9999,CA,...,-9999,Poly,-9999,-9999,Enphase Energy,-9999,-9999,-9999,-9999,-9999
freq,585730,3117,1,1010,485032,673820,500967,18708,81920,585730,...,486649,337396,625074,486630,111174,393440,574381,591072,567555,568364

In [ ]:
# Eventually, we need to hone in on what our target and features are.

In [11]:
# STEP 1
# Replace all -9999 with NaN values.
df = df.replace(-9999, np.nan)

In [14]:
# Still some -9999's remaining.  (System ID for example)

df.head(25)

,Data Provider,System ID (from Data Provider),System ID (Tracking the Sun),Installation Date,System Size,Total Installed Price,Appraised Value Flag,Sales Tax Cost,Rebate or Grant,Performance-Based Incentive (Annual Payment),...,Inverter Model #2,Inverter Quantity #2,Inverter Manufacturer #3,Inverter Model #3,Inverter Quantity #3,Additional inverter model,Microinverter #1,Microinverter #2,Microinverter #3,DC Optimizer
0,State Energy Office,-9999,AR_EDC_1,4/29/2010,2.016,14558.00,False,510.762764,0.0,3644.640,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,0.0
1,State Energy Office,-9999,AR_EDC_2,4/26/2010,3.360,26096.00,False,851.271273,0.0,7210.500,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,0.0
2,State Energy Office,-9999,AR_EDC_3,4/20/2010,13.440,91139.00,False,3405.085091,0.0,25178.970,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,0.0
3,State Energy Office,-9999,AR_EDC_4,4/21/2010,5.520,40043.00,False,1398.517091,0.0,10724.340,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,0.0
4,State Energy Office,-9999,AR_EDC_5,4/22/2010,2.530,21497.00,False,640.987000,0.0,3736.170,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,0.0
5,State Energy Office,-9999,AR_EDC_6,4/22/2010,3.450,30617.00,False,874.073182,0.0,6834.915,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,0.0
6,State Energy Office,-9999,AR_EDC_7,4/21/2010,3.220,27978.00,False,815.801636,0.0,6293.295,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,0.0
7,State Energy Office,-9999,AR_EDC_8,5/18/2010,12.880,90873.00,False,3263.206545,0.0,22845.015,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,0.0
8,State Energy Office,-9999,AR_EDC_9,6/3/2010,3.360,26166.00,False,851.271273,0.0,6284.820,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,0.0
9,State Energy Office,-9999,AR_EDC_10,5/11/2010,2.700,18596.00,False,684.057273,0.0,5892.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
10,State Energy Office,-9999,AR_EDC_11,5/11/2010,5.400,33062.25,False,1368.114545,0.0,10971.000,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.0
11,State Energy Office,-9999,AR_EDC_12,7/29/2010,8.960,51831.00,False,2270.056727,0.0,21643.200,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.0
12,State Energy Office,-9999,AR_EDC_13,4/22/2010,5.400,33649.70,False,1368.114545,0.0,10402.500,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.0
13,State Energy Office,-9999,AR_EDC_15,6/18/2010,1.120,6677.50,False,283.757091,0.0,2722.215,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,0.0
14,State Energy Office,-9999,AR_EDC_16,5/18/2010,20.985,147312.00,False,5316.645136,0.0,40672.500,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,State Energy Office,-9999,AR_EDC_17,5/11/2010,3.200,14737.31,False,810.734545,0.0,5890.230,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
16,State Energy Office,-9999,AR_EDC_20,6/21/2010,5.980,33319.71,False,1515.060182,0.0,12973.500,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.0
17,State Energy Office,-9999,AR_EDC_21,10/1/2010,9.000,25724.00,False,2280.190909,0.0,21118.500,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.0
18,State Energy Office,-9999,AR_EDC_23,7/12/2010,5.980,26107.40,False,1515.060182,0.0,9854.025,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
19,State Energy Office,-9999,AR_EDC_25,8/5/2010,11.960,63650.00,False,3030.120364,0.0,26129.250,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.0
20,State Energy Office,-9999,AR_EDC_26,9/3/2010,2.200,4588.80,False,417.163636,0.0,5824.500,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,0.0
21,State Energy Office,-9999,AR_EDC_27,5/13/2010,1.800,7866.79,False,456.038182,0.0,4218.960,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,0.0
22,State Energy Office,-9999,AR_EDC_28,7/19/2010,1.200,5375.00,False,304.025454,0.0,2662.500,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.0
23,State Energy Office,-9999,AR_EDC_29,6/28/2010,3.450,28625.00,False,874.073182,0.0,5960.475,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,0.0
24,State Energy Office,-9999,AR_EDC_30,9/21/2010,3.510,23866.00,False,889.274455,0.0,5787.000,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.0

In [17]:
df['System ID (from Data Provider)'].value_counts()

-9999                                3117
D7732                                   4
D7730                                   3
D1116                                   2
D7213                                   2
D10272                                  2
D20342                                  2
D7212                                   2
D19515                                  2
D1115                                   2
D7161                                   2
R92512                                  1
PGE-INT-233482                          1
PGE-INT-231462                          1
PGE-INT-227593                          1
PGE-INT-353687                          1
PGE-INT-227803                          1
PGE-INT-64017 & PGE-CSI-32598           1
SCE-INT-SCE-73582                       1
PGE-INT-144605                          1
SCE-INT-500159812 & SCE-CSI-27109       1
SCE-INT-SCE-86553                       1
R164333                                 1
SCE-INT-SCE-05392                       1
PGE-INT-396462                          1
SCE-INT-SCE-74278                       1
SCE-INT-NST-03808                       1
PGE-INT-125358                          1
SCE-INT-SCE-32687                       1
SCE-INT-500259105 & SCE-CSI-33462       1
                                     ...
R180636                                 1
22345                                   1
SCE-INT-NST-22312                       1
PGE-INT-376696                          1
PGE-INT-74673 & PGE-CSI-40431           1
SCE-INT-SCE-78405                       1
PGE-INT-408250                          1
PGE-INT-222681                          1
PGE-INT-42732 & PGE-CSI-17407           1
SCE-INT-500503152 & SCE-CSI-68722       1
SCE-INT-500624517                       1
PGE-INT-228744                          1
PGE-INT-156561                          1
PGE-INT-232345                          1
PGE-INT-33697 & PGE-CSI-07895           1
PGE-INT-121878                          1
SCE-INT-500618919                       1
PGE-INT-159823                          1
PGE-INT-211315                          1
PGE-INT-222328                          1
PGE-INT-409162                          1
SCE-INT-500585636                       1
PGE-INT-156761                          1
SDGE-INT-100039                         1
PGE-INT-269894 & NS0021BN               1
PGE-INT-92803 & PGE-CSI-53332           1
PGE-INT-247981                          1
PGE-INT-277473                          1
PGE-INT-160659                          1
R97278                                  1
Name: System ID (from Data Provider), Length: 696871, dtype: int64

In [ ]:
#### TO DO LIST ####
# We need to replace all the -9999.00 with NaN values. [DONE]
# Sum NaN values
# Create a list of columns to drop
# do a pd.to_datetime on year.  do cutoffs.  save year, drop month and day.

# WHAT CAN WE DO THE BASELINE ON?
## -- By state: which state has grown the most since 2010 (and predicting for future yeras)
## -- by time: how much has solar growth increased year over year (and predicting for future years)
## -- Customer Segment: RESIDENTIAL VS COMMERCIAL.  (kind of how the Tanzania was: functional, nonfunctional)
#### ^^ a business case can be built from the info above.

# Features:  can we measure effect of incentives (performance based incentives, feed in tariff, rebates/grants, etc)

In [20]:
df.describe()

,System Size,Total Installed Price,Sales Tax Cost,Rebate or Grant,Performance-Based Incentive (Annual Payment),Performance-Based Incentives (Duration),Feed-in Tariff (Annual Payment),Feed-in Tariff (Duration),New Construction,Tracking,...,Module Efficiency #2,Module Efficiency #3,Inverter Quantity #1,Inverter Quantity #2,Inverter Quantity #3,Additional inverter model,Microinverter #1,Microinverter #2,Microinverter #3,DC Optimizer
count,7.000000e+05,5.354450e+05,535292.000000,6.258000e+05,7.000000e+05,700000.000000,700000.0,700000.0,168063.000000,505516.000000,...,9122.000000,352.000000,0.0,0.0,0.0,566236.000000,582850.000000,26446.000000,1302.000000,592205.000000
mean,2.781393e+01,5.339113e+04,1163.331083,2.402823e+03,3.075919e+02,0.044653,0.0,0.0,0.161576,0.002856,...,0.159794,0.149959,NaN,NaN,NaN,0.000297,0.297751,0.083113,0.038402,0.168268
std,5.400954e+03,6.591742e+06,8556.010545,8.806638e+04,8.374055e+03,0.731614,0.0,0.0,0.368063,0.053370,...,0.017173,0.023808,NaN,NaN,NaN,0.017222,0.457270,0.276058,0.192240,0.374104
min,6.800000e-02,1.000000e-02,0.000000,0.000000e+00,0.000000e+00,0.000000,0.0,0.0,0.000000,0.000000,...,-0.000018,0.060209,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000
25%,4.000000e+00,1.760000e+04,279.993389,0.000000e+00,0.000000e+00,0.000000,0.0,0.0,0.000000,0.000000,...,0.153374,0.132502,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000
50%,5.720000e+00,2.592500e+04,534.121679,0.000000e+00,0.000000e+00,0.000000,0.0,0.0,0.000000,0.000000,...,0.160606,0.150307,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000
75%,8.000000e+00,3.686400e+04,846.169338,1.061250e+03,0.000000e+00,0.000000,0.0,0.0,0.000000,0.000000,...,0.164516,0.163522,NaN,NaN,NaN,0.000000,1.000000,0.000000,0.000000,0.000000
max,4.001172e+06,4.806585e+09,655574.388500,6.700000e+07,1.742083e+06,20.000000,0.0,0.0,1.000000,1.000000,...,0.220859,0.220762,NaN,NaN,NaN,1.000000,1.000000,1.000000,1.000000,1.000000

In [21]:
df.describe(exclude='number')

,Data Provider,System ID (from Data Provider),System ID (Tracking the Sun),Installation Date,Appraised Value Flag,Customer Segment,Tracking Type,City,County,State,...,Module Model #3,Module Technology #1,Module Technology #2,Module Technology #3,Inverter Manufacturer #1,Inverter Model #1,Inverter Manufacturer #2,Inverter Model #2,Inverter Manufacturer #3,Inverter Model #3
count,700000,700000,700000,700000,700000,700000,618080,700000,618080,700000,...,487008,700000,634464,487008,650848,650848,601696,601696,568928,568928
unique,11,696871,700000,5154,2,7,5,2695,88,3,...,240,12,12,9,126,1060,71,560,38,222
top,Public Utilities Commission & California Energ...,-9999,CA-NEM-288402,12/4/2015,False,RES,Fixed,BAKERSFIELD,Los Angeles,CA,...,-9999,Poly,-9999,-9999,Enphase Energy,-9999,-9999,-9999,-9999,-9999
freq,585730,3117,1,1010,485032,673820,500967,18708,69109,585730,...,486649,337396,625074,486630,111174,393440,574381,591072,567555,568364

In [25]:
df.isnull().sum().sort_values(ascending=False)

Tilt #2                                         700000
Inverter Quantity #1                            700000
Tilt #3                                         700000
Azimuth #3                                      700000
Azimuth #2                                      700000
Inverter Quantity #3                            700000
Inverter Quantity #2                            700000
Module Efficiency #3                            699648
BIPV Module #3                                  699633
Microinverter #3                                698698
Module Efficiency #2                            690878
BIPV Module #2                                  690682
Ground Mounted                                  686316
Microinverter #2                                673554
Self-Installed                                  645819
Battery System                                  585912
New Construction                                531937
Azimuth #1                                      411133
Tilt #1                                         303116
Module Model #3                                 212992
Module Technology #3                            212992
Module Manufacturer #3                          212992
Tracking                                        194484
Sales Tax Cost                                  164708
Total Installed Price                           164555
Additional module model                         133767
Additional inverter model                       133764
Inverter Model #3                               131072
Inverter Manufacturer #3                        131072
Module Efficiency #1                            129750
                                                 ...
Inverter Model #2                                98304
Inverter Manufacturer #2                         98304
BIPV Module #1                                   96654
Tracking Type                                    81920
County                                           81920
Rebate or Grant                                  74200
Module Technology #2                             65536
Module Manufacturer #2                           65536
Module Model #2                                  65536
Inverter Manufacturer #1                         49152
Inverter Model #1                                49152
Zip Code                                           121
Performance-Based Incentives (Duration)              0
System Size                                          0
Installation Date                                    0
Appraised Value Flag                                 0
System ID (Tracking the Sun)                         0
System ID (from Data Provider)                       0
Performance-Based Incentive (Annual Payment)         0
Module Manufacturer #1                               0
Feed-in Tariff (Annual Payment)                      0
Feed-in Tariff (Duration)                            0
Customer Segment                                     0
Module Model #1                                      0
City                                                 0
State                                                0
Utility Service Territory                            0
Module Technology #1                                 0
Installer Name                                       0
Data Provider                                        0
Length: 63, dtype: int64

In [43]:
# Feature Engineer (?)

# Definitely drop.  Excessive NaN values.
drop_columns = ['Tilt #2', 'Inverter Quantity #1', 'Tilt #3', 'Azimuth #3', 
                'Azimuth #2', 'Inverter Quantity #3', 'Inverter Quantity #2', 
                'Module Efficiency #3', 'BIPV Module #3', 'Microinverter #3',
                'Module Efficiency #2', 'BIPV Module #2', 'Ground Mounted', 
                'Microinverter #2', 'Self-Installed']

# High NaN values.  But fairly important info that I'd like to keep.
might_drop = ['Ground Mounted', 'Battery System', 'New Construction', 'Azimuth #1', 'Tilt #1']

# These two features have > 698,000 unique observations each.
high_cardinality = ['System ID (from Data Provider)', 'System ID (Tracking the Sun)']

In [48]:
# Dropping the drop_columns list.
mask = df.drop(columns=drop_columns)

In [45]:
mask = df.drop(columns=high_cardinality)

In [49]:
print(mask.shape)
mask.head()

(700000, 48)

,Data Provider,System ID (from Data Provider),System ID (Tracking the Sun),Installation Date,System Size,Total Installed Price,Appraised Value Flag,Sales Tax Cost,Rebate or Grant,Performance-Based Incentive (Annual Payment),...,Module Efficiency #1,Inverter Manufacturer #1,Inverter Model #1,Inverter Manufacturer #2,Inverter Model #2,Inverter Manufacturer #3,Inverter Model #3,Additional inverter model,Microinverter #1,DC Optimizer
0,State Energy Office,-9999,AR_EDC_1,4/29/2010,2.016,14558.0,False,510.762764,0.0,3644.64,...,0.137423,Enphase Energy,M190-72-240-Sxx (-NA),NaN,NaN,NaN,NaN,NaN,1.0,0.0
1,State Energy Office,-9999,AR_EDC_2,4/26/2010,3.360,26096.0,False,851.271273,0.0,7210.50,...,0.137423,Enphase Energy,M190-72-240-Sxx (-NA),NaN,NaN,NaN,NaN,NaN,1.0,0.0
2,State Energy Office,-9999,AR_EDC_3,4/20/2010,13.440,91139.0,False,3405.085091,0.0,25178.97,...,0.137423,Enphase Energy,M190-72-240-Sxx (-NA),NaN,NaN,NaN,NaN,NaN,1.0,0.0
3,State Energy Office,-9999,AR_EDC_4,4/21/2010,5.520,40043.0,False,1398.517091,0.0,10724.34,...,0.141104,Enphase Energy,M190-72-240-Sxx (-NA),NaN,NaN,NaN,NaN,NaN,1.0,0.0
4,State Energy Office,-9999,AR_EDC_5,4/22/2010,2.530,21497.0,False,640.987000,0.0,3736.17,...,0.141104,Enphase Energy,M190-72-240-Sxx (-NA),NaN,NaN,NaN,NaN,NaN,1.0,0.0

In [52]:
mask.describe(exclude='number')

,Data Provider,System ID (from Data Provider),System ID (Tracking the Sun),Installation Date,Appraised Value Flag,Customer Segment,Tracking Type,City,County,State,...,Module Model #3,Module Technology #1,Module Technology #2,Module Technology #3,Inverter Manufacturer #1,Inverter Model #1,Inverter Manufacturer #2,Inverter Model #2,Inverter Manufacturer #3,Inverter Model #3
count,700000,700000,700000,700000,700000,700000,618080,700000,618080,700000,...,487008,700000,634464,487008,650848,650848,601696,601696,568928,568928
unique,11,696871,700000,5154,2,7,5,2695,88,3,...,240,12,12,9,126,1060,71,560,38,222
top,Public Utilities Commission & California Energ...,-9999,CA-NEM-288402,12/4/2015,False,RES,Fixed,BAKERSFIELD,Los Angeles,CA,...,-9999,Poly,-9999,-9999,Enphase Energy,-9999,-9999,-9999,-9999,-9999
freq,585730,3117,1,1010,485032,673820,500967,18708,69109,585730,...,486649,337396,625074,486630,111174,393440,574381,591072,567555,568364

In [53]:
df['Customer Segment'].value_counts()

RES           673820
COM            12954
-9999           7604
GOV             2514
NON-RES         1406
NON-PROFIT      1006
SCHOOL           696
Name: Customer Segment, dtype: int64

In [24]:
# DC Optimizer would be a cool column, but only 99,469 observations.  Hmm.

df['DC Optimizer'].value_counts()

0.0    492556
1.0     99649
Name: DC Optimizer, dtype: int64

In [26]:
df['State'].value_counts()

CA    585730
AZ    114167
AR       103
Name: State, dtype: int64

In [27]:
df['Data Provider'].value_counts()

Public Utilities Commission & California Energy Commission    585730
Public Service                                                 74909
River Project                                                  17446
Electric Power                                                 16990
Energy Services                                                 2970
Electric Cooperative                                             951
Springs Valley Electric Cooperative                              888
State Energy Office                                              103
Valley Electric Cooperative                                        7
Improvement Company                                                3
Water and Electric                                                 3
Name: Data Provider, dtype: int64

In [30]:
# Establish our baseline.  
## remove NaN's before.

baseline = df['Customer Segment'].value_counts(normalize=True)
print('Majority Baseline: ', baseline[0])

Majority Baseline:  0.9626

In [31]:
df['State'].value_counts(normalize=True)

CA    0.836757
AZ    0.163096
AR    0.000147
Name: State, dtype: float64

In [33]:
## Let's create a df for CA, AZ, and AR, and then see what the 

CA_state = df[df['State'] == 'CA']
print(CA_state.shape)
CA_state.head()

(585730, 63)

,Data Provider,System ID (from Data Provider),System ID (Tracking the Sun),Installation Date,System Size,Total Installed Price,Appraised Value Flag,Sales Tax Cost,Rebate or Grant,Performance-Based Incentive (Annual Payment),...,Inverter Model #2,Inverter Quantity #2,Inverter Manufacturer #3,Inverter Model #3,Inverter Quantity #3,Additional inverter model,Microinverter #1,Microinverter #2,Microinverter #3,DC Optimizer
114270,Public Utilities Commission & California Energ...,PGE-INT-10,CA-NEM-1,8/21/2002,2.8800,NaN,False,NaN,NaN,0.0,...,-9999,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,0.0
114271,Public Utilities Commission & California Energ...,PGE-INT-100,CA-NEM-2,11/15/2002,4.4352,NaN,False,NaN,NaN,0.0,...,-9999,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,0.0
114272,Public Utilities Commission & California Energ...,PGE-INT-1000 & 7999.0,CA-NEM-3,5/2/2003,3.0000,24000.0,False,1237.358958,11137.5,0.0,...,-9999,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.0
114273,Public Utilities Commission & California Energ...,PGE-INT-10000 & 2524.0,CA-NEM-4,2/11/2002,2.8896,27452.0,False,1111.970833,10836.0,0.0,...,-9999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
114274,Public Utilities Commission & California Energ...,PGE-INT-100002 & PGE-CSI-56484,CA-NEM-5,12/26/2012,19.1100,83545.0,False,2509.852521,3123.0,0.0,...,-9999,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,0.0

In [34]:
AZ_state = df[df['State'] == 'AZ']
print(AZ_state.shape)
AZ_state.head()

(114167, 63)

,Data Provider,System ID (from Data Provider),System ID (Tracking the Sun),Installation Date,System Size,Total Installed Price,Appraised Value Flag,Sales Tax Cost,Rebate or Grant,Performance-Based Incentive (Annual Payment),...,Inverter Model #2,Inverter Quantity #2,Inverter Manufacturer #3,Inverter Model #3,Inverter Quantity #3,Additional inverter model,Microinverter #1,Microinverter #2,Microinverter #3,DC Optimizer
103,Public Service,D10194,AZ-APS-1,6/4/2010,2.025,12180.00,False,0.0,6075.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
104,Public Service,D10485,AZ-APS-2,6/16/2010,2.990,19160.00,False,0.0,8970.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
105,Public Service,D10486,AZ-APS-3,6/25/2010,2.990,19160.00,False,0.0,8970.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
106,Public Service,D10487,AZ-APS-4,6/16/2010,2.990,19160.00,False,0.0,8970.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
107,Public Service,D10488,AZ-APS-5,7/16/2010,2.990,19160.04,False,0.0,8970.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
AR_state = df[df['State'] == 'AR']
print(AR_state.shape)
AR_state.head()

(103, 63)

,Data Provider,System ID (from Data Provider),System ID (Tracking the Sun),Installation Date,System Size,Total Installed Price,Appraised Value Flag,Sales Tax Cost,Rebate or Grant,Performance-Based Incentive (Annual Payment),...,Inverter Model #2,Inverter Quantity #2,Inverter Manufacturer #3,Inverter Model #3,Inverter Quantity #3,Additional inverter model,Microinverter #1,Microinverter #2,Microinverter #3,DC Optimizer
0,State Energy Office,-9999,AR_EDC_1,4/29/2010,2.016,14558.0,False,510.762764,0.0,3644.64,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,0.0
1,State Energy Office,-9999,AR_EDC_2,4/26/2010,3.360,26096.0,False,851.271273,0.0,7210.50,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,0.0
2,State Energy Office,-9999,AR_EDC_3,4/20/2010,13.440,91139.0,False,3405.085091,0.0,25178.97,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,0.0
3,State Energy Office,-9999,AR_EDC_4,4/21/2010,5.520,40043.0,False,1398.517091,0.0,10724.34,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,0.0
4,State Energy Office,-9999,AR_EDC_5,4/22/2010,2.530,21497.0,False,640.987000,0.0,3736.17,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,0.0

In [36]:
# Customer Segment breakdown for CA
CA_state['Customer Segment'].value_counts(normalize=True)

RES           0.960055
COM           0.020308
-9999         0.012268
GOV           0.004248
NON-PROFIT    0.001694
SCHOOL        0.000948
NON-RES       0.000480
Name: Customer Segment, dtype: float64

In [37]:
AZ_state['Customer Segment'].value_counts(normalize=True)

RES           0.975720
NON-RES       0.009854
COM           0.009197
-9999         0.003661
SCHOOL        0.001235
GOV           0.000219
NON-PROFIT    0.000114
Name: Customer Segment, dtype: float64

In [38]:
AR_state['Customer Segment'].value_counts(normalize=True)

RES           0.893204
COM           0.087379
NON-PROFIT    0.009709
GOV           0.009709
Name: Customer Segment, dtype: float64

In [ ]:
## Hmm, can we do a baseline off of one state, and compare it nationwide?  
## That was a cool suggestion by Anika.